---
layout: site
---
<div id="wrapper">
<div id="top"></div>
<div id="container">
{% include sidebar.html %}
<div id="main-image"></div>
<div id="content">
<h1>Welcome to Kumiko Shirai.com!</h1>
<div>
<p>Welcome to the website of Kumiko Shirai, MSOM, LAc practicing in Portland, OR. Kumiko specializes in acupuncture, Chinese herbal medicine and Japanese abdominal diagnosis. Kumiko can help you address most of your health challenges and will work with you to attain optimal vitality and health.<br /> <br /> Feel free to visit the other pages of this site for more information about Kumiko's services, lectures, patient forms and location.</p>
</div>
</div>
</div>
<div id="bottom"></div>
{% include footer.html %}
</div>
