---
layout: page
---
<div id="wrapper">
<div id="top"></div>
<div id="container">
{% include sidebar.html %}
<div id="content">
<h1>Lectures</h1>
<div id="lectures-content">
<p>Kumiko offers lectures on Fukushin, the Japanese style of abdominal diagnosis designed for the prescription of Shanghan Lun and Jingui Yaolue herbal formulas. For more information, please contact Kumiko directly at <a href="mailto:info@kumikoshirai.com">info@kumikoshirai.com</a></p>

<p>&nbsp;</p>
</div>
<div id="photo1"><img src="/IMAGES/slideshow/slide1.jpg" width="222" height="200" /></div>
<div id="photo2"><img src="/IMAGES/slideshow/slide3.jpg" width="222" height="200" /></div>
</div>
</div>
<div id="bottom"></div>
{% include footer.html %}
</div>
