---
layout: page
---
<div id="wrapper">
<div id="top"></div>
<div id="container">
{% include sidebar.html %}
<div id="content">
<h1>Patient Information</h1>
<div id="patient-content">
<p>Please download the following forms prior to your first visit. If you have any questions regarding these forms, please contact Kumiko <a href="location.html">here</a>.</p>
<br />
<ul>
<li> <a href="/FORMS/PatientInformationFormShiraiLLC.pdf" target="_blank">Patient Information Form</a></li>
<li> <a href="/FORMS/FinancialAgreementShiraiLLC.pdf" target="_blank">Financial Acknowledgement</a></li>
<li> <a href="/FORMS/MedicalHistoryShiraiLLC.pdf" target="_blank">Medical History</a></li>
</ul>
</div>
<div id="photo1"><img src="/IMAGES/slideshow/slide2.jpg" width="222" height="200" /></div>
<div id="photo2"><img src="/IMAGES/slideshow/slide4.jpg" width="222" height="200" /></div>
</div>
</div>

<div id="bottom"></div>
{% include footer.html %}
</div>
