---
layout: page
---
<div id="wrapper">
<div id="top"></div>
<div id="container">
{% include sidebar.html %}
<div id="content">
<h1>Services</h1>
<div id="services-content">
<p><strong>Services:</strong></p>
<ul>
<li>Acupuncture </li>
<li>Herbal Medicine Prescription</li>
<li>Japanese Abdominal Diagnosis (Fukushin)</li>
<li>Cupping</li>
<li>Gua Sha</li>
</ul>
<br />
<p><strong>Conditions Treated:</strong></p>
<ul>
<li>Musculoskeletal Injuries and Pain</li>
<li>Acute Common Cold/ Flu</li>
<li>Chronic Diseases<br />
<p class="conditions">&raquo;Respiratory<br /> &raquo;Cardiovascular <br /> &raquo;Gastrointestinal (GI)<br /> &raquo;Urinary<br /> &raquo;Gynecology<br /> &raquo;Dermatology</p>
</li>
<li>Autoimmune Diseases</li>
<li>Neurological Conditions</li>
</ul>
<br />
<p>Not sure if Chinese medicine is good for your conditions? Please <a href="location.html">contact Kumiko</a> for 30min free consultation.</p>
</div>
<div id="photo1"><!--webbot bot="HTMLMarkup" startspan --> <img src="/IMAGES/slideshow/slide4.jpg" width="222" height="200" /></div>
<div id="photo2"><!--webbot bot="HTMLMarkup" startspan --> <img src="/IMAGES/slideshow/slide6.jpg" width="222" height="200" /></div>
</div>
</div>
<div id="bottom"></div>
{% include footer.html %}
</div>
