<div id="header">
<div id="logo"><a href="/index.html"><img src="/IMAGES/logo.jpg" alt="Kumiko Shirai, MSOM, LAc" width="175" height="175" /></a></div>
<div align="center">
<h1>Kumiko Shirai, MSOM, LAc</h1>
<h2>Acupuncture &bull; Herbal Medicine Japanese Abdominal Diagnosis</h2>
<br />
<h3>The Wildfire Clinic<br />2505 SE 11th Ave, Suite 268<br />Portland, OR 97202<br /> phone: (541) 729-1164<br /> <a href="mailto:info@kumikoshirai.com" target="_blank">info@kumikoshirai.com</a></h3>
<p>&nbsp;</a>
<a  href="/appointment/"><h1>Make an Appointment</h1></a>
<p>&nbsp;</a>
</div>
<div id="menu">
<h4>Menu</h4>
<a href="/index.html">&raquo; Home</a><br /> <a href="/bio/">&raquo; Bio</a><br /> <a href="/services/">&raquo; Services</a><br /> <a href="/lectures/">&raquo; Lectures</a><br /> <a href="/patient/">&raquo; Patient Information</a><br /></div>
</div>
